.temp{
  background: none;
  font-family: 'Playfair Display', serif;
  background-image: url('../img/snow-01.png'), url('../img/snow-02.png'), url('../img/snow-03.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  // -webkit-animation: snow 20s linear infinite;
  // -moz-animation: snow 20s linear infinite;
  // -ms-animation: snow 20s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 500px, 400px 400px, -150px 150px;}
  //100% {background-position: 1000px 1000px, 1000px 1000px, -1000px 1000px;}
}
// @-moz-keyframes snow {
//   0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
//   50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
//   100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
// }
// @-webkit-keyframes snow {
//   0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
//   50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
//   100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
// }
// @-ms-keyframes snow {
//   0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
//   50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
//   100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
// } 