

// VARIABLES -----------------------

$em-base: 16px !default;

// COLORS -----------------------
$gold: #a4854b;
$green: #3d4742;
$lightGrey: #eeedec;
$brown: #282828;
$grey: #bfc0c2;
$darkGrey: #5c5c60;
$maroon: #4f2c2c;
$white: #ffffff;
$text: #5C5C60;


// FONTS -----------------------
$playfair: 'Playfair Display', serif; //400,400italic, 700
$josefin: 'Josefin Sans', sans-serif; //700
$baskerville: 'Libre Baskerville', serif;  //300
$tienne: 'Tienne', serif; //300
$muli: 'Muli', sans-serif; //300
$oswald: 'Oswald', sans-serif; //300
$merriweather: 'Merriweather', serif; //300, 400
$adamina: 'Adamina', serif; //400
$abril: 'Abril Fatface', cursive; //400

// BREAKPOINTS -----------------------
$standard: 1280px;
$tablet: 1024px;
$mobile: 767px;





// MIXINS -----------------------
@mixin breakpoint($size) { 
 @media screen and (max-width: $size) { @content; } 
}

@mixin transform($degree){
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
}




// FUNCTIONS -----------------------
// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts px to em passed from 'cem'
@function convert-to-em($value, $base-value: $em-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

// call this to convert pixels to em - even lists of px
@function cem($values, $base-value: $em-base) {
  $max: length($values); // Get the total number of parameters passed
  
  @if $max == 1 { @return convert-to-em(nth($values, 1), $base-value); }

  $emValues: (); // This will eventually store the converted $values in a list
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $emValues;
}
