/*

  The Northpole Experience v2.0

  based on HTML5  Boilerplate v4.3 [08.06.2014]
  https://github.com/h5bp/html5-boilerplate

  Site Development by dFree
  Developer: Daniel Freeman [@dFree]


*/


/*// IMPORTS ----------------------- */

@import "normalize",
        "variables",
        "snow";



/*// HTML5 BOILERPLATE ----------------------- */

html{color: #222;font-size: 1em;line-height: 1.4;}
::-moz-selection{background: #b3d4fc;text-shadow: none;}
::selection{background: #b3d4fc;text-shadow: none;}
hr{display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}
audio,canvas,img,svg,video{vertical-align: middle;}
fieldset{border: 0;margin: 0;padding: 0;}
textarea{resize: vertical;}
.browsehappy{margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}



/*// PRIMARY STYLES ----------------------- */
html, body{
  position: relative;
  width:100%;
  background-color:$white;
  overflow:auto;
}

a{text-decoration:none;}


.border{
  position:absolute;
  z-index:1;
  top:0; left:0; bottom:0; right:0;
  margin:auto;
  width:100%; height:100%;
  @include breakpoint($mobile){display:none;}
}
.content{
  z-index: 999;
  width: 100%; height: 100%;
  position: absolute;
  top: 0;left: 0;
  h1{
    display:inline-block;
    text-align:center;
    text-transform: uppercase;
    margin:48px auto 0px;
    width:100%;
    color:$gold;
    z-index:2;
    letter-spacing: 1px;
  }
  p{ 
    color:$grey;
    width:85%;
    margin:0px auto;
    text-align:center;
    z-index:2;
    @include breakpoint($tablet){width:81%;}
  }
}

.doubleLine{
  position:relative;
  width:60px; height:3px;
  margin:20px auto;
  border-top:1px solid $gold;
  border-bottom:1px solid $gold;
}

.left-border{
  width:40px;
  left:-40px;
  background-color:red;
  background:url('../img/border.svg') center repeat;
  position:absolute;
  overflow: hidden;
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  @include breakpoint($mobile){display:none;}
}
.right-border{
  width:40px;
  right:-40px;
  background:url('../img/border.svg') center repeat;
  position:absolute;
  overflow: hidden;
  @include breakpoint($mobile){display:none;}
}

.pager{
  clear:both;
  position:relative;
  text-align:center;
  overflow: visible;
  margin: 20px auto 0px;
  width:762px;
  @include breakpoint($mobile){width:300px;}
  a{
    font:14px $playfair;
    color:$gold;
    @include breakpoint($mobile){margin: 0px 4px 0px 4px;}
  }
  .numbers,
  .lodging-numbers{
    position:relative;
    text-align:center;
    overflow:auto;
    margin: 0px auto;
    display:inline-block;
  }
  .next,
  .lodging-next{
    position:absolute;
    width:40px; height:10px;
    top:8px; right:300px;
    background:url('../img/gold-arrow.svg') center no-repeat;
    cursor:pointer;
    @include breakpoint($mobile){display:none;}
  }
  .prev,
  .lodging-prev{
    position:absolute;
    width:40px; height:10px;
    top:8px; left:300px;
    background:url('../img/gold-arrow.svg') center no-repeat;
    transform: rotate(180deg);
    cursor:pointer;
    @include breakpoint($mobile){display:none;}
  }
  .cycle-pager-active a{opacity:0.5;}
}





/*// HEADER ----------------------- */
header{
  position:fixed;
  left:0; right:0;
  margin:auto;
  width:1280px; height: 145px;
  z-index:9999;
  @include breakpoint($standard){width:1024px;}
  @include breakpoint($tablet){width:768px;}
  @include breakpoint($mobile){width:100%; height:45px;}
  .title{
    position:relative;
    margin:0px auto;
    height:90px;
    background-color:$lightGrey;
    overflow:hidden;
    z-index:9;
    @include breakpoint($mobile){height:45px;}
    .tickets{
      position:relative;
      float:left;
      margin:20px 0px 0px 33px;
      @include breakpoint($mobile){
        margin: -2px 0px 0px 122px;
        float:none;
      }
      p{
        font:11px $oswald;
        color:$gold; 
      }
      img{width:57px; height:29px;}
    }
    .logo{
      position:relative;
      width:376px; height:46px;
      margin:0px auto;
      img{margin-top:14px;}
      @include breakpoint($mobile){display:none;}
    }
    .logo-small{
      position:relative;
      width:0px; height:25px;
      margin:0px auto;
      img{margin-top:-60px;}
      @include breakpoint($mobile){display:none;}
    }
    .social{
      position:relative;
      float:right;
      width:140px; height:20px;
      margin:-37px 33px 0px 0px;
      @include breakpoint($mobile){display:none;}
      img{
        height:24px; width:24px;
        float:left;
        margin:0px 0px 0px 10px;
      }
    }
  }
}


/*// NAVIGATION ----------------------- */
.d-nav{
  nav{
    position:relative;
    width:100%; height:55px;
    background-color:$maroon;
    color:$white;
    margin:0px auto;
    z-index: 9;
    @include breakpoint($mobile){
      background-color:transparent;
      margin: -50px 0px 0px 0px;
    }
    .banner{
      position:relative;
      float:left;
      width:117px;height:142px;
      margin:0px 0px 0px 22px;
      z-index: 999;
      @include breakpoint($mobile){margin: 0px 0px 0px 2px;}
    }
    .menu{
      width:87%; height:59px;
      position:absolute;
      overflow-x:hidden;
      padding-left:13%;
      @include breakpoint($tablet){padding-left:18%;}
      @include breakpoint($mobile){display:none;}
      a{
        color:$white;
        margin:19px 52px 0px 52px;
        float:left;
        font:300 15px $oswald;
        text-transform:uppercase;
        transition: all 0.2s ease;
        @include breakpoint($standard){margin:17px 32px 0px 32px;}
        @include breakpoint($tablet){
          margin:20px 16px 0px 16px;
          font:300 13px $oswald;
        }
      }
      a:hover{color:$gold;}
    }
  }
}

/*// MOBILE NAVIGATION ----------------------- */
.m-nav-btn{
  position:absolute;
  left:-45px; top:15px;
  display:none;
  z-index:99999;
  @include breakpoint($mobile){
    display:block;
    position:absolute;
    top:13px;
    width:45px; height:45px;
  }
  .icon-bar{
    border-top:3px solid $gold;
    margin:0px auto 4px;
    width:50%;
  }
}

.m-nav{
  position:fixed;
  right:-260px; top:0px;
  display:none;
  height:100%;
  width:260px;
  background-color:$lightGrey;
  z-index:99;
  line-height:49px;
  @include breakpoint($mobile){display:block;}
  .item{
    color:$grey;
    height:45px; width:100%;
    border-bottom: 1px solid $grey;
    text-align:center;
  }
  .social{
    height:45px; width:100%;
    img{
      width:15%; 
      float:left;
      margin:5px;
    }
  }
}



/*// CONTACT DROP-DOWN MENU ----------------------- */
.contact-drop{
  position:absolute;
  top:0px; right:-100%;
  background-color:$gold;
  width:100%; height:55px;
  z-index:9;
  margin:0px auto;
  div{float:left;}
  p,a{
    font:14px $muli;
    color:$white;
    transition: all 0.2s ease;
    margin:0px;
  }
  a{text-decoration:underline;}
  a:hover{color:$grey;}
  .close-button{
    position:absolute;
    top:20px; right:20px;
    cursor:pointer;
    width:20px; height:20px;
    background:url('../img/white-close.svg') center no-repeat;
  }
}




/*// HERO ----------------------- */
.hero{
  position:relative;
  width:1280px; height:576px;
  margin:145px auto 0px;
  background-color:$lightGrey;
  background:url('../img/hero-image.jpg') center no-repeat;
  background-size:cover;
  overflow:hidden;
  @include breakpoint($standard){width:1024px;}
  @include breakpoint($tablet){width:768px;}
  @include breakpoint($mobile){
    width:100%;
    margin:45px auto 0px;
  }
  .border{
    background: url('../img/hero-border.svg') center no-repeat;
    @include breakpoint($standard){background: url('../img/hero-border-standard.svg') center no-repeat;}
    @include breakpoint($tablet){background: url('../img/hero-border-tablet.svg') center no-repeat;}
  }
  .button{
    position:relative;
    bottom:-480px;
    width:266px; height:37px;
    margin:0px auto;
    background-color:rgba(164,133,75,0.4);
    cursor:pointer;
    transition: all 0.2s ease;
    @include breakpoint($mobile){
      position:absolute;
      bottom:85px;
      width:246px;
      left:0; right:0;
      margin:auto;
      display:block;
    }
    p{
      font:400 19px/36px $playfair;
      color:$white;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align:center;
      width:100%;
      @include breakpoint($mobile){font:400 16px/39px $playfair;}
    }
    .button-border{
      position: absolute;
      top: -12px;left: -37px;
      width:336px; height:60px;
      background: url('../img/hero-button-border.svg') center no-repeat;
      @include breakpoint($mobile){
        left: -33px;
        width:309px;
      }
    }
  }
  .button:hover{
    background-color:rgba(164,133,75,0.8);
  }
  video{
    width:100%;
    position:absolute;
    top:-80px; left:0px;
    @include breakpoint($standard){top:0px;}
    @include breakpoint($tablet){
      min-height:100%;
      width:133%;
      left:-127px;
    }
    @include breakpoint($mobile){display:none;}
  }
}


/*// GRID ----------------------- */
.grid{
  position:relative;
  overflow:auto;
  width:1280px; 
  margin:0px auto;
  clear:both;
  @include breakpoint($standard){width:1024px;}
  @include breakpoint($tablet){width:768px;}
  @include breakpoint($mobile){width:100%;}

  .top{
    position:relative;
    width:100%;
    overflow:hidden;
    background-color:$brown;
    .left{
      float:left;
      width:50%;
      overflow:hidden;
      @include breakpoint($mobile){float:none;width:100%;}
      .tradition{
        position:relative;
        width:100%; height:576px;
        background-color:$white;
        .border{
          background: url('../img/grid-tradition-border.svg') center no-repeat;
          width:100%;
          @include breakpoint($standard){background: url('../img/grid-tradition-border-standard.svg') center no-repeat;}
          @include breakpoint($tablet){background: url('../img/grid-tradition-border-tablet.svg') center no-repeat;}
        }
        h1{font:700 24px $josefin;}
        p{
          font:300 12px/25px $merriweather;
          color:$text;
          @include breakpoint($mobile){font:300 12px/22px $merriweather;}
        }
        .vimeo{
          position:relative;
          margin:30px auto 0px;
          width:470px; height:260px;
          overflow:hidden;
          @include breakpoint($standard){
            margin:30px auto 0px; 
            width:372px; height:209px;
          }
          @include breakpoint($tablet){
            margin:50px auto 0px;
            width:302px; height:170px;
          }
          @include breakpoint($mobile){
            margin:30px auto 0px; 
            width:90%; height:29%;
          }
        }
      }
      .info{
        position:relative;
        width:100%; height:288px;
        //background-color:$green;
        h3{
          font:17px/100px $playfair;
          color:$gold;
          margin:0px;
          text-transform: uppercase;
          text-align:center;
          width:100%;
          clear:both;
        }
        .temp{
          position:relative;
          width:100%; height:288px;
          background-color:$green;
          p{
            font:132px $abril;
            color:$white;
            width:100%;
            text-align:center;
            margin:-29px 0px 0px 0px;
          }
        }
        .days{
          position:relative;
          width:100%; height:288px;
          background-color:$maroon;
          .countdown{
            margin:0px auto;
            width:255px;
          }
          .day{
            width:80px; height:80px;
            background-color:$white;
            color:$maroon;
            font:73px/74px $abril;
            text-align:center;
            float:left;
            margin:2px;
          }
        }
      }
    }
    .right{
      float:right;
      width:50%;
      overflow:hidden;
      @include breakpoint($mobile){float:none;width:100%;}
      .testimonials{
        position:relative;
        width:100%; height:288px;
        background-color:$brown;
        .border{
          background: url('../img/grid-testimonials-border.svg') center no-repeat;
          width:55%; top:-150px;
          @include breakpoint($tablet){width:75%;top:-194px;}
        }
        h1{
          font:300 28px $oswald;
          @include breakpoint($tablet){margin:27px auto 0px;}
          @include breakpoint($mobile){margin:20px auto 0px;}
        }
        p{
          font:300 13px/25px $merriweather; 
          margin:27px auto;
          @include breakpoint($mobile){font:300 12px/22px $merriweather;}
        }
        .button{
          width:200px; height:30px;
          border:1px solid $gold;
          margin:0px auto;
          text-align:center;
          font:16px/29px $playfair;
          color:$gold;
          text-transform: uppercase;
          cursor:pointer;
        }
      }
      .gallery{
        position:relative;
        width:100%; height:576px;
        background-color:$grey;
        .border{
          background: url('../img/grid-gallery-border.svg') center no-repeat;
          width:98%;
        }
        .key{
          position:relative;
          width:70px; height:30px;
          background:url(../img/grid-gallery-key.svg) center no-repeat;
          margin:20px auto;
        }
        h1{
          font:400 26px $adamina; 
          color:$darkGrey;
          @include breakpoint($mobile){font:400 20px $adamina; }
        }
        p{
          font:400 14px/25px $muli;
          color:$text;
          @include breakpoint($mobile){font:300 13px/22px $muli;}
        }
        .gallery-images{
          position:relative;
          margin:27px auto 0px;
          width:56%;
          @include breakpoint($mobile){width:100%;}
          img{
            max-width:358px;
            @include breakpoint($tablet){max-width:268px;}
            @include breakpoint($mobile){max-width:100%;}
          }
        }
        .cycle-pager{
          width:185px;
          margin:10px auto 0px;
          span{
            margin:0px 5px 0px 5px;
            font-size:24px;
            color:$darkGrey;
            cursor:pointer;
          }
          .cycle-pager-active{color:$gold;}
        }
      }
    }
    .testimonial-content{
      position:absolute;
      height:100%; width:100%;
      top:0px; left:0px;
      overflow:hidden;
      display:none;
      h1{
        display:inline-block;
        text-transform: uppercase;
        margin:48px 0px 48px 0px;
        width:100%;
        color:$gold;
        text-align:center;
        z-index:2;
        letter-spacing: 1px;
        font:300 28px $oswald;
        @include breakpoint($mobile){
          width:80%;
          display:block;
          margin:26px auto 20px;
          text-align:left;
        }
      }
      .close-btn{
        position:absolute;
        top:54px; right:50px;
        width:25px; height:25px;
        background:url('../img/gold-close.svg') center no-repeat;
        cursor:pointer;
        @include breakpoint($mobile){top:33px; right:22px;}
      }
      .lines{
        position:relative;
        top:-72px;
        width:310px; height:10px;
        background:url('../img/grid-testimonials-border-inside.svg') center no-repeat;
        margin:0px auto;
        @include breakpoint($mobile){display:none;}
      }
      .testimonial-section{
        position:relative;
        display:inline-block;
        width:49%; height:537px;
        float:left;
        margin-top:28px;
        @include breakpoint($mobile){
        height:auto; width:100%;
        overflow:auto;
        margin-top:0px;
        float:none;
      }
      }
      .separator{
        width:5px; height:600px;
        border-left:$darkGrey 1px solid;
        border-right:$darkGrey 1px solid;
        position:relative;
        float:left;
        @include breakpoint($mobile){display:none;}
      }
      .single-testimonial{
        width:80%;
        margin:0px auto 30px;
        h3{
          font:13px/24px $merriweather;
          color:$gold;
          margin:0px;
        }
        p{
          font:13px/24px $merriweather;
          color:$lightGrey;
          margin:0px;
          @include breakpoint($tablet){font:12px/20px $merriweather;}
        }
      }
    }
  }


  .mid{
    position:relative;
    width:100%;
    overflow:auto;
    clear:both;
    text-align:center;
    .connect{
      position:relative;
      float:left;
      height:576px; width:50%;
      background-color:$brown;
      @include breakpoint($mobile){float:none;width:100%;}
      .border{
        background: url('../img/grid-connect-border.svg') center no-repeat;
        width:100%;
      }
      h1{
        color:$gold;
        font: 700 27px $playfair;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin:25px 0px 0px 0px;
      }
      h2{
        color:$white;
        font: 300 12px $merriweather;
        margin:28px 0px 0px 0px;
      }
      p{
        color:$white;
        font: 300 16px $muli;
        margin:0px 0px 10px 0px;
        width:100%;
      }
      a{
        color:$grey;
        font: 400 14px $adamina;
        transition: all 0.2s ease;
      }
      a:hover{color:$darkGrey;}
      span{
        color:$gold;
        font: 700 13px/40px $playfair;
      }
      .tag{
        position:relative;
        color:$gold;
        font: 700 13px/18px $playfair;
        font-style:italic;
      }
    }
    .newsletter{
      position:relative;
      float:right;
      height:576px; width:50%;
      background-color:$maroon;
      @include breakpoint($mobile){float:none;width:100%;height:522px;}
      .border{
        background: url('../img/grid-newsletter-border.svg') center no-repeat;
        width:100%;
        @include breakpoint($standard){background: url('../img/grid-newsletter-border-standard.svg') center no-repeat;}
        @include breakpoint($tablet){background: url('../img/grid-newsletter-border-tablet.svg') center no-repeat;}
      }
      h1{
        font:400 21px $abril;
        color:$grey;
        margin:14px 0px 31px 0px;
        @include breakpoint($tablet){
          font:400 12px $abril;
          margin:19px 0px 31px 0px;
        }
        @include breakpoint($mobile){font:400 21px $abril;}
      }
      p{
        font:300 13px $tienne;
        color:$grey;
        width:60%;
        @include breakpoint($tablet){font:400 12px $abril;}
        @include breakpoint($tablet){font:400 12px/22px $abril;}
        @include breakpoint($mobile){font:400 12px/22px $abril; width:85%;}
      }
      .tag{
        position:absolute;
        bottom:19px; left:0; right:0;
        margin:auto;
        color:$gold;
        font: 700 11px/15px $playfair;
        font-style:italic;
        width:50%;
        @include breakpoint($standard){bottom:16px;}
        @include breakpoint($tablet){bottom:24px;}
        @include breakpoint($mobile){width:85%;}
      }

      form{
        position:absolute;
        top:0; bottom:0; left:0; right:0;
        width:60%; height:200px;
        text-align:left;
        margin:auto;
        overflow:hidden;
        @include breakpoint($mobile){
          position: relative;
          margin: 67px auto 0px;
        }
        .form-section{
          width:100%; height:160px;
          position:relative;
        }
        .form-02,
        .form-03,
        .form-04,
        .form-05{
          transform: translate(400px, 0px);
          position:absolute;
          top:0; bottom:0; left:0; right:0;
        }
        h3{
          font:26px $playfair;
          color:$gold;
          text-align:left;
          margin:0px;
        }
        p{
          font:20px $playfair;
          font-style:italic;
          color:$gold;
          text-align:left;
          margin:0px 0px 40px 0px;
          width:100%;
        }
        span{
          color:$gold; 
          font:11px $playfair;
        }
        input{
          background:transparent;
          outline:none;
          border:none;
          width:100%;
          border-bottom:1px solid $lightGrey;
          font:17px $playfair;
          padding:10px 0px 10px 0px;
          margin-bottom:15px;
          color:$grey;
        }
        .next-btn{
          background:url('../img/grid-newsletter-next-arrow.svg') bottom no-repeat;
          width:40px;
          float:right;
          cursor:pointer;
          p{
            font:17px $playfair;
            color:$grey;
            margin: 0px 0px 12px 0px;
          }
        }
        .submit-btn{
          display:none;
          margin: 0px 0px 12px 0px;
          width:65px;
          float:right;
          cursor:pointer;
          p{
            margin:-6px 0px 0px 0px;
            font-style:normal;
            color:$grey;
            transition: all 0.2s ease; 
          }
          p:hover{color:$lightGrey;}
        }
        .form-thanks{
          display:none;
          margin:-161px 0px 0px 0px;
        }
      }
    }
  }


  .bottom{
    position:relative;
    width:100%;
    overflow:hidden;
    clear:both;
    background-color:$gold;
    .expect{
      position:relative;
      float:left;
      height:288px; width:50%;
      background-color:$grey;
      @include breakpoint($mobile){float:none;width:100%;}
      h1{
        font:700 23px $josefin; 
        color:$darkGrey;
        margin:48px auto 30px;
        @include breakpoint($mobile){margin:43px auto 30px;}
      }
      p{
        font:300 14px/25px $merriweather;
        color:$white;
        @include breakpoint($tablet){font:300 12px/22px $merriweather;}
      }
      .border{
        background: url('../img/grid-expect-border.svg') center no-repeat;
        width:100%;
        @include breakpoint($standard){background: url('../img/grid-expect-border-standard.svg') center no-repeat;}
        @include breakpoint($tablet){background: url('../img/grid-expect-border-tablet.svg') center no-repeat;}
      }
      .button{
        width:200px; height:30px;
        border:1px solid $white;
        margin:0px auto;
        text-align:center;
        font:16px/29px $playfair;
        color:$darkGrey;
        text-transform: uppercase;
        cursor:pointer;
        margin: 44px auto 0px;
        @include breakpoint($tablet){margin: 27px auto 0px;}
      }
    }
    .gear{
      position:relative;
      float:left;
      height:288px; width:50%;
      background-color:$gold;
      @include breakpoint($mobile){float:none;width:100%;}
      h1{
        font:400 28px $oswald; 
        color:$white;
        margin: 31px auto 26px;
        @include breakpoint($tablet){margin: 31px auto 29px;}
        @include breakpoint($mobile){margin:24px auto 30px;}
      }
      p{
        font:300 14px/25px $muli;
        color:$white;
        @include breakpoint($tablet){font:300 12px/22px $merriweather;}
      }
      .button{
        width:282px; height:30px;
        margin:48px auto 0px;
        text-align:center;
        font:16px/29px $oswald;
        color:$white;
        text-transform: uppercase;
        background:url('../img/grid-gear-button.svg') center no-repeat;
        letter-spacing: 1px;
        @include breakpoint($tablet){margin: 32px auto 0px;}
      }
    }
    .tickets-avail{
      position:relative;
      float:left;
      height:288px; width:50%;
      background-color:$green;
      @include breakpoint($mobile){float:none;width:100%;}
      h1{
        font:700 23px $josefin; 
        color:$grey;
        margin: 42px auto 44px;
        @include breakpoint($mobile){font:700 20px $josefin; }
      }
      p{
        font:300 14px/25px $merriweather;
        color:$grey;
        @include breakpoint($tablet){font:300 12px/22px $merriweather;}
      }
      .border{
        background: url('../img/grid-tickets-border.svg') center no-repeat;
        width:100%;
        @include breakpoint($standard){background: url('../img/grid-tickets-border-standard.svg') center no-repeat;}
        @include breakpoint($tablet){background: url('../img/grid-tickets-border-tablet.svg') center no-repeat;}
      }
      .button{
        width:200px; height:30px;
        border:1px dashed $lightGrey;
        margin:0px auto;
        text-align:center;
        font:16px/29px $playfair;
        color:$lightGrey;
        text-transform: uppercase;
        margin: 61px auto 0px;
        @include breakpoint($tablet){margin: 41px auto 0px;}
      }
    }
    .lodging{
      position:relative;
      float:left;
      height:288px; width:50%;
      background-color:$maroon;
      @include breakpoint($mobile){float:none;width:100%;}
      h1{
        font:400 23px $adamina;
        margin:36px auto 0px;
        @include breakpoint($tablet){margin:36px auto 20px;}
        @include breakpoint($mobile){margin:25px auto 20px;}
      }
      p{
        font:300 14px/25px $muli;
        color:$white;
        @include breakpoint($tablet){font:300 12px/22px $merriweather;}
      }
      .button{
        width:200px; height:30px;
        margin:0px auto;
        text-align:center;
        font:16px/29px $oswald;
        color:$gold;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor:pointer;
        transition: all 0.2s ease;
        @include breakpoint($tablet){margin: 7px auto 0px;}
      }
      .button:hover{color:$white;}
      .lines{
        width:60px; height:10px;
        background:url('../img/grid-lodging-lines.svg') center no-repeat;
        margin:15px auto 15px;
        @include breakpoint($tablet){margin:5px auto 6px;}
      }
    }
  }
}


/*// WHAT TO EXPECT ----------------------- */
.expect-content{
  position:absolute;
  height:100%; width:100%;
  top:0px; left:0px;
  overflow:hidden;
  background-color:$gold;
  z-index:0;
  display:none;
  h1{
    display:inline-block;
    text-transform: uppercase;
    margin:48px 0px 48px 0px;
    width:100%;
    color:$white;
    text-align:center;
    z-index:2;
    letter-spacing: 1px;
    font:300 25px $oswald;
    @include breakpoint($tablet){margin:28px 0px 48px 0px;}
    @include breakpoint($mobile){
      text-align:left;
      width:80%;
      margin:27px auto 20px;
      display:block;
    }
  }
  h3{
    text-transform: uppercase;
    color:$white;
    width:80%;
    font:300 13px $merriweather;
    letter-spacing: 1px;
    margin: 0px 0px 30px 50px;
    @include breakpoint($tablet){margin: 0px 0px 30px 39px;}
    @include breakpoint($mobile){
      text-align:left;
      width:80%;
      margin:27px auto 20px;
      display:block;
    }
  }
  p{
    color:$white;
    font:300 13px/25px $merriweather;
    opacity: 0.7;
    width:80%;
    margin:0px auto;
  }
  .close-btn{
    position:absolute;
    top:54px; right:50px;
    width:25px; height:25px;
    background:url('../img/white-close.svg') center no-repeat;
    cursor:pointer;
    display:none;
    @include breakpoint($tablet){top:34px;}
    @include breakpoint($mobile){top:33px; right:22px;}
  }
  .lines{
    position:relative;
    top:-72px;
    width:310px; height:10px;
    background:url('../img/grid-expect-border-inside.svg') center no-repeat;
    margin:0px auto;
    opacity:0.5;
  }
  .expect-col{
    position:relative;
    display:inline-block;
    width:49%; height:537px;
    float:left;
    margin-top:28px;
    .answer{position:relative;}
    @include breakpoint($tablet){
      margin-top:0px;
      height:437px;
    }
    @include breakpoint($mobile){
      width:100%;
    }
  }
  .separator{
    width:5px; height:360px;
    border-left:$white 1px solid;
    border-right:$white 1px solid;
    position:relative;
    float:left;
    opacity:0.5;
    @include breakpoint($mobile){display:none;}
  }
  .faq-data{
    margin:0px 0px 13px 0px;
    p{
      cursor:pointer;
      transition: all 0.2s ease;
      font: 300 13px/17px $merriweather;
     }
    p:hover{color:$lightGrey;}
    span{display:none;}
  }
}


/*// LODGING ----------------------- */
.lodging-content{
  position:absolute;
  height:100%; width:100%;
  top:0px; left:0px;
  overflow:hidden;
  background-color:$brown;
  z-index:0;
  display:none;
  h1{
    font:300 34px $oswald;
    color:$gold;
    text-transform: uppercase;
    text-align:center;
    @include breakpoint($mobile){
      font:300 25px $oswald;
      text-align:left;
      width:80%;
      margin:27px auto 0px;
    }
  }
  h3{
    font: 13px $merriweather;
    text-transform: uppercase;
    color:$white;
    margin:0px;
    @include breakpoint($mobile){
      width:80%;
      margin:0px auto 10px;
    }
  }
  p{
    font: 13px/25px $merriweather;
    color:$grey;
    @include breakpoint($tablet){font: 12px/20px $merriweather;}
    @include breakpoint($mobile){
      width:80%;
      margin:0px auto 10px;
    }
  }
  span,a{
    font: 13px $merriweather;
    color:$gold;
    transition: all 0.2s ease;
  }
  a:hover{color:$grey;}
  .lodging-col{
    position: relative;
    display: inline-block;
    width: 39%;
    height: 357px;
    float: right;
    margin-top: 28px;
    overflow: hidden;
    padding: 0px 5% 0px 5%;
    @include breakpoint($mobile){
      float:right;
      width: 100%;
      padding: 0px;
      overflow:auto;
      height:auto;
    }
  }
  .separator{
    width:5px; height:360px;
    border-left:$white 1px solid;
    border-right:$white 1px solid;
    position:relative;
    float:right;
    opacity:0.5;
    margin-top:6px;
    @include breakpoint($mobile){display:none;}
  }
  .close-btn{
    position:absolute;
    top:36px; right:50px;
    width:25px; height:25px;
    background:url('../img/gold-close.svg') center no-repeat;
    cursor:pointer;
    @include breakpoint($mobile){top:34px; right:22px;}
  }
  .property-image{
    overflow:hidden;
    height:308px;
    @include breakpoint($mobile){height:auto;}
    img{
      width:499px;
      @include breakpoint($standard){width:100%;}
    }
  }
  
}


/*// PRESS ----------------------- */
.press{
  position:relative;
  overflow:auto;
  width:1280px; height:680px;
  margin:0px auto;
  clear:both;
  background-color:$lightGrey;
  @include breakpoint($standard){width:1024px;}
  @include breakpoint($tablet){width:768px;}
  @include breakpoint($mobile){width:100%;height:700px;}
  h1{
    font:400 30px $adamina;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:$darkGrey;
    margin:32px 0px 22px 0px;
    @include breakpoint($mobile){font:400 28px $adamina;}
  }
  .lines{
    position:relative;
    top:57px;
    width:495px; height:10px;
    background:url('../img/press-lines.svg') center no-repeat;
    margin:0px auto;
    @include breakpoint($mobile){display:none;}
  }
  ul{
    position:relative;
    width:400px; height:10px;
    list-style-type: none;
    margin:0px auto;
    padding:0px;
    @include breakpoint($mobile){display:none;}
    li{
      color:$gold;
      padding:0px 15px 0px 15px;
      margin:4px 0px 0px 0px;
      float:left;
      font:300 12px $oswald;
      text-transform:uppercase;
      transition: all 0.2s ease;
      border-right:1px solid $gold;
      cursor:pointer;
    }
    li:last-child{border:none;}
    li:hover{color:$darkGrey;}
  }
  .active{text-decoration:underline;}
  .press-content{
    clear:both;
    margin-top:64px;
    @include breakpoint($mobile){margin-top:15px;}
  }

  .mentions{
    position:relative;
    width:100%;
    overflow:auto;
    .mentions-grid{
      position:relative;
      width:762px; height:370px;
      margin:0px auto;
      @include breakpoint($tablet){width:713px;}
      @include breakpoint($mobile){
        width:253px; 
        height:507px;
        overflow:hidden;
      }
    }
    .mentions-hero{
      position:absolute;
      top:18px; left:18px;
      width:721px; height:343px;
      background-color:$gold;
      display:none;
      z-index:999;
      border:1px solid $white;
      outline: 8px solid $gold;
      @include breakpoint($tablet){
        top: 11px; left: 12px;
        width: 678px; height: 330px;
      }
      @include breakpoint($mobile){
        top: 11px; left: 11px;
        width: 228px; height: 484px;
      }
      .close-button{
        position:absolute;
        top:25px; right:25px;
        width:25px; height:25px;
        background:url('../img/white-close.svg') center no-repeat;
        cursor:pointer;
      }
      .h-logo{
        position:relative;
        width: 50%;
        margin: 21px auto 0px;
        img{display:block;margin:auto;}
      }
      .h-text{
        font:12px/25px $merriweather;
        color:$white;
        width:80%; height:205px;
        overflow:hidden;
        margin:35px auto 0px;
        @include breakpoint($tablet){
          height:185px;
          font:11px/22px $merriweather;
        }
        @include breakpoint($mobile){height:341px;}
      }
      .h-link{
        width:109px; height:28px;
        border:1px solid $white;
        margin:0px auto;
        p{
          font:12px/8px $merriweather;
          text-align: center;
          color:$white;
        }
      }
    }
    .mentions-box{
      position:relative;
      float: left;
      width:170px; height:171px;
      background-color:$gold;
      margin:10px;
      opacity:0.5;
      transition: all 0.2s ease;
      cursor:pointer;
      @include breakpoint($tablet){margin:3px;}
      @include breakpoint($mobile){
        width:120px; height:121px;
        opacity:1.0;
      }
      .m-text,
      .mlink{
        display:none;
      }
      .m-logo{
        position:absolute;
        top:0;bottom:0;left:0;right:0;
        max-width:80%; max-height:20%;
        margin:auto;
        img{display:block;margin:auto;}
      }
    }
    .mentions-box:hover{
      opacity:1.0;
    }
  }


  .press-kit{
    position:relative;
    width:100%;
    overflow:auto;
    .press-grid{
      position:relative;
      width:912px; height:370px;
      margin:0px auto;
      @include breakpoint($tablet){
        width:90%;
        overflow:hidden;
      }
      .section{
        position:relative;
        float:left;
        width:240px; height:100%;
        @include breakpoint($tablet){
          width:190px;
          margin:0px 20px 0px 20px;}
        h3{
          font:16px $playfair;
          color:$green;
        }
        p{
          font:13px $merriweather;
          width:100%;
        }
        a{color:$gold; transition: all 0.2s ease;}
        a:hover{color:$darkGrey;}
        .special{
          font:14px $playfair;
          font-style:italic;
          line-height:20px;
        }
      }
      .separator{
        height:224px; width:3px;
        float:left;
        margin:64px 45px 0px 45px;
        border-left:1px solid $gold;
        border-right:1px solid $gold;
        @include breakpoint($tablet){display:none;}
      }
    }
  }

  .media-ready{
    position:relative;
    width:100%;
    overflow:auto;
    .media-ready-grid{
      position:relative;
      width:692px; height:400px;
      margin:0px auto;
      .media-ready-hero{
        position:absolute;
        top:0px; left:0px;
        width:692px; height:400px;
        background-color:$gold;
        display:none;
        z-index:999;
        background-size:cover;
        .close-button{
          position:absolute;
          top:25px; right:25px;
          width:25px; height:25px;
          background:url('../img/white-close.svg') center no-repeat;
          cursor:pointer;
        }
        .download{
          position:absolute;
          bottom:20px; right:20px;
          width:27px; height:34px;
          background:url('../img/press-download.svg') center no-repeat;
        }
      }
      .media-ready-box{
        position:relative;
        float: left;
        width:134px; height:95px;
        background-color:$gold;
        margin:2px;
        opacity:1.0;
        transition: all 0.2s ease;
        cursor:pointer;
        img{
          width:100%; height:100%;
          transition: all 0.2s ease;
        }
      }
      .media-ready-box:hover{opacity:0.7;}
    }
  }

}


/*// LOCATION ----------------------- */
.location{
  position:relative;
  overflow:auto;
  width:1280px; height:288px;
  margin:0px auto;
  clear:both;
  background-color:$brown;
  @include breakpoint($standard){width:1024px;}
  @include breakpoint($tablet){width:768px;}
  @include breakpoint($mobile){width:100%;}
  .border{
    background: url('../img/footer-border.svg') center no-repeat;
    width:100%;
    @include breakpoint($standard){background: url('../img/footer-border-standard.svg') center no-repeat;}
    @include breakpoint($tablet){background: url('../img/footer-border-tablet.svg') center no-repeat;}
  }
  h1{
    font:400 16px $playfair;
    text-align:center;
    text-transform: uppercase;
    color:$grey;
  }
  p{
    font:700 12px $playfair;
    text-align:center;
    color:$darkGrey;
  }
  .lines{
    position:relative;
    top:-28px;
    background:url('../img/footer-text-border.svg') center no-repeat;
    width:300px; height:30px;
    margin:0px auto;
  }
  select{
    position:relative;
    width:125px; height:23px;
    padding:2px 6px 2px 6px;
    margin: 0px auto 120px;
    display: block;
    background: transparent;
    border: 0;
    border-radius: 0;
    //-webkit-appearance: none;
    //background: url(new_arrow.png) no-repeat right #ddd;
    border: 1px solid $grey;
    color:$grey;
    font:12px $oswald;
    text-transform: uppercase;
    letter-spacing:1px;
  }
  select:focus{
    outline:none;
  }
}








/*// HELPER CLASSES AND PRINT STYLES -----------------------*/

.hidden{display: none !important;visibility: hidden;}
.visuallyhidden{border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
.invisible{visibility: hidden;}
.clearfix:before,
.clearfix:after{content: " "; /* 1 */display: table; /* 2 */}
.clearfix:after {clear: both;}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
@media print{
    *{background: transparent !important;color: #000 !important; /* Black prints faster: h5bp.com/s */box-shadow: none !important;text-shadow: none !important;}
    a,a:visited{text-decoration: underline;}
    a[href]:after{content: " (" attr(href) ")";}
    abbr[title]:after{content: " (" attr(title) ")";}
    a[href^="#"]:after,
    a[href^="javascript:"]:after{content: "";}
    pre,blockquote{border: 1px solid #999;page-break-inside: avoid;}
    thead{display: table-header-group;}
    tr,img{page-break-inside: avoid;}
    img{max-width: 100% !important;}
    p,h2,h3{orphans: 3;widows: 3;}
    h2,h3{page-break-after: avoid;}
}